.page-header.navbar-fixed-top {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  background-color: #2b3643;
  width: 100%;
  margin: 0;
  border: 0;
  padding: 0;
  height: 50px;
  min-height: 50px;
  filter: none;
}

.page-header.navbar-fixed-top div.page-logo {
  float: left;
  display: block;
  width: 110px;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.page-header.navbar-fixed-top div.page-logo img.default-logo {
  margin: 18px 0 0;
}

.page-header.navbar-fixed-top div.shopping-cart-header {
  margin: 0;
  padding: 0;
  float: right;
}

.page-header.navbar-fixed-top div.shopping-cart-header a.my-cart-link {
  margin: 0;
  box-sizing: content-box;
  padding: 19px 10px 10px;
}

.page-header.navbar-fixed-top div.shopping-cart-header a.my-cart-link .my-cart-icon {
  top: 16px;
  position: relative;
}

.page-header.navbar-fixed-top div.shopping-cart-header a.my-cart-link span.badge.badge-default {
  background-color: #36c6d3;
  color: #fff;
  font-weight: 300;
  padding: 3px 6px;
  font-size: 11px;
  border-radius: 12px;
}

@media screen and (max-width: 768px) {
  .page-header.navbar-fixed-top {
    padding: 0 20px;
    position: relative;
    clear: both;
  }

  .page-header.navbar-fixed-top div.page-logo {
    width: auto;
    padding: 0;
    margin-right: 10px;
    margin-left: 0;
    padding-left: 0;
  }

  .page-header.navbar-fixed-top div.page-logo img.default-logo {
    margin-left: 4px;
  }
}

@media screen and (max-width: 425px) {
  .page-header.navbar-fixed-top {
    padding: 0 10px;
  }

  .page-header.navbar-fixed-top div.page-logo {
    width: auto;
  }

  .page-header.navbar-fixed-top div.shopping-cart-header a.my-cart-link {
    padding: 19px 6px 10px;
  }
}
