section.item-card-layout {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: #364150;
  padding: 15px 15px 30px;
  max-width: 150px;
  color: #fff;
  margin: auto;
  align-content: center;
  display: flex;
  flex-direction: column;
}

section.item-card-layout p.product-name {
  margin: auto;
  margin-bottom: 15px;
}

p.product-quantity {
  margin: 0;
  font-size: 12px;
  color: #999;
}