ul {
  margin: 0;
  padding: 0;
  margin-bottom: 1.5em;
  margin-left: 1.5em;
}

a {
  text-decoration: none;
}

.nav {
  list-style: none;
  margin-left: 0;
}

.nav>li, .nav>li>a {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.stacked>li {
  display: list-item;
}

.stacked>li>a {
  display: block;
}

.flyout, .flyout-alt {
  position: relative;
}

.flyout-content {
  position: absolute;
  top: 100%;
  left: -99999px;
  height: 0;
  overflow: hidden;
}

.flyout:hover>.flyout-content {
  left: 0;
}

.flyout-alt:hover>.flyout-content {
  top: 0;
  left: 100%;
}

.flyout:hover>.flyout-content, .flyout-alt:hover>.flyout-content {
  height: auto;
  overflow: visible;
}

.site-nav {
  top: 6px;
  position: relative;
  display: inline;
  font-size: 0.75em;
  font-family: sans-serif;
}

.site-nav a {
  line-height: 1;
  padding: 1em;
  background-color: #293239;
  color: #87929C;
  white-space: nowrap;
}

.site-nav .flyout:hover>a, .site-nav .flyout-alt:hover>a, .site-nav a:hover {
  color: #fff;
  background-color: #20272c;
}

.site-nav .flyout-alt>a:after {
  content: " »";
}

.site-nav a, .site-nav .flyout-content {
  border: 0 solid #000;
}

.site-nav>li>a {
  border-left-width: 1px;
}

.site-nav>li:first-child>a {
  border: none;
}

.site-nav .flyout-content {
  border-width: 1px 0 0 1px;
}

.site-nav .flyout-content a {
  border-bottom-width: 1px;
}

.site-nav .flyout-alt:hover>.flyout-content {
  top: -1px;
}

@media screen and (max-width: 425px) {
  .flyout-content {
    position: initial;
  }
  .nav {
    margin-left: 3px;
  }
  .site-nav .flyout-content {
    border-width: 0;
  }
  .stacked>li.category {
    margin-top: -18px;
  }
  .stacked>li.category:first-child {
    margin-top: 0px;
  }
}