.product-list>aside {
  width: 90%;
  margin: auto !important;
  min-height: 40px;
  margin: 0 0 15px 15px;
  -webkit-box-shadow: -5px 6px 17px -2px rgba(43, 54, 67, 1);
  -moz-box-shadow: -5px 6px 17px -2px rgba(43, 54, 67, 1);
  box-shadow: -5px 6px 17px -2px rgba(43, 54, 67, 1);
}

.product-list>aside>* {
  margin: 11px 0 0 15px;
}

.product-list>* {
  display: flex;
  flex-wrap: wrap;
}

.product-list>div>* {
  flex: 1 1 160px;
}

.product-list>div>.product-by-category {
  margin-top: 10px;
}

.empty-product-list {
  margin: auto;
  width: 50%;
}