.shopping-cart-layout {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .3);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .3);
  background-color: #fff;
  margin-top: 40px;
  padding: 64px;
  height: 100%;
  position: relative;
}

article.product {
  padding-bottom: 21px;
  border-bottom: 1px solid #e6e6e6;
  margin-top: 0;
  position: relative;
  background-color: #fff;
  height: auto;
  overflow: auto;
}

article.product>div.product-description>h2 {
  margin: 8px 0;
}

div.quantity-selector {
  width: 20%;
  text-align: center;
  float: left;
  margin-top: 15px;
}

div.quantity-selector>input {
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  vertical-align: top;
  display: inline-block;
  padding: 10px;
}

div.quantity-selector>div {
  font-weight: 300;
  font-size: 14px;
  color: #999;
  margin-top: 10px;
}

div.product-description {
  float: left;
  width: 55%;
  margin-right: 5%;
}

div.product-price>span {
  font-size: 32px;
  font-weight: 300;
  line-height: 1;
  float: right;
  color: #333;
  text-align: right;
  margin-top: 25px;
}

@media screen and (max-width: 425px) {
  div.product-description {
    margin: 0 auto;
    float: none;
    text-align: center;
  }

  div.quantity-selector {
    float: none;
    margin: 11px auto 0;
    width: auto;
  }

  div.product-price {
    margin-top: 10px;
    float: none;
    text-align: center;
  }

  article.product>div.product-description>h2 {
    text-align: center;
  }

  div.product-price>span {
    text-align: center;
    float: none;
  }
}
