button.btn {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button.btn:disabled {
  background-color: #FBFBFB !important;
  color: grey !important;
  cursor: not-allowed;
}

button.btn:disabled label {
  cursor: not-allowed;
}

button.btn label {
  cursor: pointer;
}

button.btn.btn-primary {
  color: #fff;
  background-color: #36c6d3;
  border-color: #2bb8c4;
}

button.btn.btn-secondary {
  color: #666;
  background-color: #e1e5ec;
  border-color: #e1e5ec;
}